{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/estilos.css' %}">

    <title>Inicio</title>

</head>
<body>

    {% include 'home/navbar.html' %}
    
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-3"> 
                <div class="card product-grid">
                    <a href="#" class="img-wrap">
                        <img src={{producto.imagen.url}} alt="{{producto.nombre}}">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title-product">
                            {{producto.nombre}}
                        </a>
                        <div class="price mt-1">
                            ${{producto.precio}}
                        </div>
                    </figcaption>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'home/js/home.js' %}"></script>
</body>
</html>
