{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/snowflake.ico' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Inicio - Codelatin</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Codelatin</h1>
    </header>
    <main>
        <p class='descripcion'>Este es el inicio de tu aplicación Django.</p>
    </main>
    <footer>
        <p>&copy; 2025 Codelatin. Todos los derechos reservados.</p>
    </footer>
</body>
</html>